/* Site de Reservia */

*
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

main
{
    
    max-width: 1340px;
    margin: 0 auto;
}

h1, h2
{
    font-weight:700;
}
    
.recherche p, nav, .cinq_cent, footer a
{
    font-weight: 500;
} 

.hebergements h2, .activites h2, .plus_populaires h2
{
    font-size: 1.4em;
}

@media all and (max-width:375px)
{

    body 
    {
        margin: 0;
        padding: 0;
    }

    .logo
    {
        margin-top: 40px;
    }

}

/* Header */

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

.logo 
{
    margin-top: 45px;
}

nav
{
    margin-top: 47px;
}

.menu a
{
    text-decoration: none;
}

.menu ul
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav_hebergement
{
    color: #0065FC;
    font-weight: 500;
    border-top: 3px white solid;
    border-width: 161px;
    padding: 68px 28px 0 28px;    
}

.nav_activites
{
    color:black;
    border-top: white 3px solid;
    border-width: 161px;    
    padding: 68px 28px 0 28px;
}

.nav_inscrire
{
    color: #0065FC;
    font-weight: bold;
    border-top: 3px white solid;
    border-width: 161px;    
    padding: 68px 28px 0 28px;    
}

.nav_hebergement:hover
{
    border-top: 3px #0065FC solid;
    border-width: 161px;
    padding: 68px 28px 0 28px;
}

.nav_inscrire:hover
{
    border-top: 3px #0065FC solid;
    border-width: 161px;    
    padding: 68px 28px 0 28px;
}

.nav_activites:hover
{
    border-top:#cdcdcd 3px solid;
    border-width: 161px;    
    padding: 68px 28px 0 28px;
}

/* Media de Header */

@media all and (max-width:595px)
{

    body 
    {
        margin: 0;
    }
    main
    {
       position: relative;
    }

    h1,.logo, .filtres ,.barre_recherche,.recherche h1 + p, .populaire, .hebergements h2, .hebergements_hotel, .afficher, .info, .activitesgit, .activites_marseille h2
    {
        padding-left:20px;
        padding-right: 20px;
    }

    .recherche h1 
    {
        margin: 105px auto auto auto;
    }

    .nav_activites, .nav_hebergement, .nav_inscrire
    {
        border-top: 0;
    }

    .nav_hebergement:hover
    {
        display: none;
    }

    .nav_activites:hover
    {
        display: none;
    }

   .nav_hebergement
    {
        position: absolute;
        left: 40px;
        top: 112px;
        padding: 0;
    }

    .nav_activites
    {
        position: absolute;
        right:50px;
        top:112px;
        padding: 0;
    }

   .menu ul 
   {      
        padding-left:0;
   }

   nav 
   {
       margin-top: 47px;
   }

   .barre_hebergement:after
   {
    content: "";
    width: 50%;
    height: 3px;
    background-color: #0065FC;
    display: block;
    position: absolute;
    top: 150px;
    left: 0px;
   }

   .barre_activites:after
   {
       content:"";
       width: 50%;
       height: 3px;
       background-color: #F2F2F2;
       display: block;
       position: absolute;
       top: 150px;
       right: 0;
   }

}

/* Barre de recherche */

.recherche
{
    margin-top: 50px;
}

.recherche p
{
    margin-top: 15px;
}

.barre_recherche
{
    display: flex;
    flex-direction: row;  
    align-items: center;
    margin-top: 30px;
}

#position
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
    background-color: #F2F2F2;
    padding: 18px 20px 17px 20px;   
}

.texte_recherche
{
    display: flex;
    align-items: center;
    border: none;
    font-weight: bold;
    font-size: 1em;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding:15px 50px 15px 17px;
}

input::placeholder
{
    color: black;
}

.bouton_recherche 
{
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-radius: 0 20px 20px 0;
    background-color: #0065FC;
    padding: 16px ;
}

.loupe 
{
    visibility: hidden;
}

/* Media de recherche */

@media all and (max-width:320px)
{
    .barre_recherche
    {
        padding-left: 10px !important;
        padding-right: 5px;
    }
}

@media all and (max-width:362px)
{
    .texte_recherche
    {
        padding: 15px 20px 15px 17px;
    }
}

@media all and (max-width:375px)
{
    .barre_recherche
    {
        max-width: 335px;
    }
}

@media all and (max-width:388px)
{
    .texte_recherche
    {
        padding-right: 0;
    }
}

@media all and (max-width:478px)
{
    .loupe 
{
    visibility: visible;
    color: white;
    border-radius: 15px;
    background-color: #0065FC;
    padding: 16px;
    margin-left: -17px;
}
    .bouton_recherche 
    {
        display: none;
    }
}

/* Filtres */

.filtres 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    font-size: 1.1em;   
}

.barre_filtres ul
{
    display: flex;
    flex-direction: row;
    list-style-type: none;   
    justify-content: space-between;
}

.barre_filtres li
{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.logo_money, .logo_familly, .logo_heart, .logo_dog
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:black;
    font-weight: bold;
    border-top: 3px solid #F2F2F2;
    border-right: 3px solid #F2F2F2;
    border-bottom: 3px solid #F2F2F2;
    border-radius: 0 40px 40px 0;
    margin-left: -17px;
    padding-left: 10px;   
}

.filtres i
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:40px;
    background-color: #DEEBFF;
    width: 50px;
    display: flex;   
    color:#0065FC;
}

.logo_familly
{
    width: 128px;
    padding: 12px 0 12px 0;
}

.logo_heart
{
    width: 158px;
    padding: 12px 0 12px 0;
}

.logo_dog
{
    width: 216px;
    padding: 12px 0 12px 0;
}

.logo_money
{
    width: 169px;
    padding: 12px 0 12px 0;
}

.filtres .logo_money:hover, .logo_familly:hover, .logo_heart:hover, .logo_dog:hover
{
    color:#0065FC;
    border-color: #0065FC;
}

/* Media de filtres */

@media all and (max-width:1022px)
{
    .barre_filtres li
    {
        margin-top: 20px;
    }
    .filtres
    {
        flex-direction: column;
    }
    .filtres h3 
    {
        align-self: flex-start;
        margin-bottom: 0;
    }
    .barre_filtres ul 
    {
        padding-left: 0;
        margin: 0;
        flex-wrap: wrap;
    }   
}

/* Point info  */

.info
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;

}

.cinq_cent
{
    margin-left: 12px;
}

    /* Section hébergements à Marseille et les plus populaires */

/* Hébergements à Marseille */

.section_hotels
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.hebergements
{
    border-radius: 15px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    padding: 47px 40px 40px 40px;
}


.hebergements_hotel
{   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;  
    padding-left: 5px;
    padding-right: 5px;
}

.hotel
{    
    background-color: white;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 0 0 1em #d5d5d5;
    width: 245px;
}

.hotel a
{
    color:black;
    text-decoration: none;   
}

.hotel img
{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px 20px 0 0;
}

.description
{
    padding: 0 0 11px 15px;
}

.description h3, p
{
    margin: 0px 0 12px 0;
    font-size: 1em;
}

.full
{
    display: block;
}

.phone
{
    display: none;
}
    
/* Etoiles hébergements à Marseille */

.stars_1, .stars_2, .stars_3, .stars_4, .stars_5, .stars_6, .stars_7, .stars_8, .stars_9
{
    display: flex;
    flex-direction: row;
}

.etoile1 i, .etoile2 i, .etoile3 i, .etoile4 i, .etoile5
{
    color: #0065FC;
}

.stars_1 .etoile5 i, .stars_3 .etoile5 i, .stars_4 .etoile4 i, .stars_4 .etoile5 i, .stars_5 .etoile5 i
{
    color: #F2F2F2;
}

.afficher a
{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/* Media afficher */

@media all and (max-width:320px)
{
    .afficher a
    {
        padding-left: 5px;
    }
}

/* Media hébergements */

@media all and (max-width:375px)
{
    .hebergements
    {
        background-color: white;
        margin:0;
    }
    .hebergements h2
    {
        margin: 0 !important;
        text-align: left!important;
    }
}

@media all and (max-width: 426px)
{
    .hebergements
    {
        margin: auto;
    }
}

@media all and (max-width:475px)
{
    .hotel
    {
        width: 100%;
    }
}

@media all and (max-width:588px)
{
    .hebergements 
    {
        background-color: white;
    }
    .hebergements h2
    {
        margin-left: 20px;
    }
    .hotel
    {
        width: 335px;
    }
    .hotel img 
    {
        width:325px;
    }
}

@media all and (max-width: 1400px)
{
    .section_hotels
    {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
}

/* Les plus populaires */

.hotels_plus_populaires
{
    background-color: #F2F2F2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 47px 38px 32px 38px;
    flex-wrap: wrap;
    margin-left: 40px;
}

.titre_hotels_populaires
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titre_hotels_populaires i
{
    font-size: 25px;
    align-self: center;
}

.hotel_populaire
{
    display: flex;
    width: 345px;
    flex-direction: column;
    margin-top: 11px;
}

.populaire a
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 1em #d5d5d5;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    text-decoration: none;
    color: black;
    font-size: 0.9em;
} 

.populaire img
{
    border-radius: 20px 0 0 20px;
    padding: 5px 0 5px 5px;
}

.fiche
{
    padding-left: 15px;    
    padding-right: 5px;
}

.fiche h3
{
    padding-top: 5px;
    margin: 8px auto 8px auto;
}

.fiche p, .stars_7, .stars_8, .stars_9
{
    font-size: 1.1em;
}


/* Etoiles des plus populaires */

.stars_7, .stars_8, .stars_9
{
    padding-top: 24px;
}

.stars_8 .etoile5, .stars_9 .etoile5
{
    color: #F2F2F2;
}

/* Media despPlus populaires */

@media all and (max-width:375px)
{
    .populaire
    {
        max-width: 310px !important;
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
    .titre_hotels_populaires
    {
        justify-content: space-between !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

@media all and (max-width:363px)
{
    
    .populaire, .hotel, .activites
    {
    max-width: 314px;
    padding-left: 3px;
    padding-right: 3px;
    }
    .hotel img 
    {
        max-width: 304px;
    }
    h1,.logo, .filtres ,.barre_recherche,.recherche h1 + p, .populaire, .hebergements h2, .hebergements_hotel, .afficher, .info, .activitesgit, .activites_marseille h2, .titre_hotels_populaires
    {
        padding-left:10px;
        padding-right: 10px;
    }
    .titre_hotels_populaires
    {
        justify-content: space-between;
    }
}

@media all and (max-width:430px)
{
    .hotels_plus_populaires
    {
        margin: 0 auto;
    }
    .populaire
    {
        width: 335px;
    }
}

@media all and (max-width:475px)
{
    .hotels_plus_populaires
    {
        margin-left: 0;
    }
}


@media all and (max-width:544px)
{
    .hotels_plus_populaires
    {
        justify-content: space-around;
    }
    .hotel_populaire
    {
        width: auto;
    }
    .populaire 
    {
        width: 335px;
    }       
}

@media all and (max-width:781px)
{   
    .titre_hotels_populaires
    {
        justify-content: space-around;
    }    
}

@media all and (max-width:1400px)
{
    .hotel_populaire
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        width: auto;
    }
    .populaire 
    {
        max-width: 345px;
    }
    .hotels_plus_populaires
    {
        margin-bottom: 20px;
        margin-left: 0;
        width: 100%;
    }
}

/* Section activités à Marseille */

.activites_marseille h2
{
    margin-bottom: 30px;
}

.activites
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activites h3
{
    padding-left: 19px;
}

.activites a
{
    text-decoration: none;
    font-size: 1em;
    color: black;
}

.full
{
    display: block;
}

.phone
{
    display: none;
}

.part_1 img, .part_2 img, .part_3 img, .part_4 img
{
    border-radius: 20px 20px 0 0;
}

.part_1, .pomegues, .frioul, .part_3, .notre_dame, .longchamp
{
    box-shadow: 0 0 1em #d5d5d5;
    border: 0 solid white;
    border-radius: 20px;
}

.part_2 a
{
    display: flex;
    flex-direction: column;
}

.frioul
{
    margin-top: 29px;
    padding-bottom : 2px;
}

.part_4 a
{
    display: flex;
    flex-direction: column;
}

.longchamp
{
    padding-bottom: 2px;
    margin-top: 30px;
}

/* Media activites a Marseille */

@media all and (max-width:331px)
{
    .activites
    {
        justify-content: space-between;
    }
}

@media all and (max-width:375px)
{
    .activites_marseille h2 
    {
        text-align: inherit!important;
    }
    .full
    {
        display: none;
    }
    .phone
    {
        display: block;
    }
}

@media all and (max-width: 428px)
{
    .activites img 
    {
        width: 100%;
    }
}

@media all and (max-width:625px)
{
    .activites_marseille h2 
    {
        text-align: center;
    }
    .activites
    {
        justify-content: center;
    }
    .part_1,.part_2,.part_3
    {
        margin-bottom: 30px;
    }
    .hebergements_hotel
    {
        justify-content: center;
    }
    .hebergements h2 
    {
        text-align: center;
    }
}

@media all and (max-width: 665px)
{
    .activites
    {
        justify-content: center;
    }
    .activites_marseille h2 
    {
        text-align: center;
    }
}

/* Footer */

footer
{
    background-color: #F2F2F2; 
    margin-top: 80px;
}

.fin
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1035px;
    padding: 48px 50px 50px 50px;   
}

.fin a
{
    text-decoration: none;
    color: black;
}

.fin ul
{
    list-style-type: none;
    padding: 0;
}

.fin li
{
    margin-bottom: 19px;
}

/* Media du footer */

@media all and (max-width: 432px)
{
    .fin 
    {
        flex-direction: column;
        padding: 48px 50px 50px 0px;
    }
    .fin
    {
        margin-left: 30px;
    }
}

@media all and (max-width:1024px)
{
    .fin
    {
        flex-wrap: wrap;
    }
    h1,.logo, .filtres ,.barre_recherche,.recherche h1 + p, .populaire, .hebergements h2, .hebergements_hotel, .afficher, .info, .activites, .activites_marseille h2
    {
        padding-left:20px;
        padding-right: 20px;
    }
}

@media all and (min-width:1440px)
{
    footer .fin
    {
        max-width: 1338px;
        margin: auto;
    }
    .fin ul
    {
        padding-right: 200px;
    }
}
